<div class="container">
	<header id="title">
		<h1>Agrouper</h1>
	</header>
	<section id="offers">
		<% @offers.each_with_index { |offer, index| %>
			<% if index%2 == 0 %>

				<div class="row show-grid">

			<% end %>

			<div class="span6 well">

				<a href='<%= url_for :controller => :order, :action => :new, :id => offer.id %>'><%= offer.title %></li>

			</div>

			<% if index%2 != 0 %>

				</div>

			<% end }%>

	</section>
	
</div>
